APP_NAME="QAForge API"
APP_ENV="development"
API_PREFIX="/api/v1"
DEBUG=True

# --- Database ---
MONGODB_URL="mongodb://localhost:27017"
MONGODB_DB_NAME="qaforge"

# --- Cloudinary ---
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
